/Averageofdigitsinstring.class
/Charactercount.class
/CompareOperator.class
/ConvertUppercaseToLowerCase.class
/ImmutableString.class
/PalindromeString_22Q.class
/Question_23.class
/RemoveFirstBNdLastString.class
/ReplaceFirstOcuurance.class
/ReversedString.class
/SecondOccurance.class
/TrimWhiteSpace.class
