/APatterns.class
/BinaryPattern.class
/CharPattern1.class
/NumberPatterns.class
/Patter2.class
/Pattern1.class
/Pattern3.class
/Pattern5.class
/Pattern6.class
/Pattern7.class
/Pattern8.class
/Patterns7.class
/RectanglePatt.class
/pattern4.class
